form {
  display: grid;
  grid-column-gap: 20px;
  padding: 10px;
  position: relative;
  grid-template-areas:
    "copyBtn"
    "label1"
    "textarea1"
    "label2"
    "textarea2";
  grid-template-rows: 0px auto 1fr 3rem 1fr;
  flex: 1;
}
@media (min-width: 740px) {
  form {
    grid-template-areas:
      "copyBtn copyBtn"
      "label1 label2"
      "textarea1 textarea2";
    grid-template-rows: 0px auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}
label {
  font-weight: bold;
  margin-bottom: 4px;
}
textarea {
  box-sizing: border-box;
  padding: 10px;
  flex-grow: 1;
  font-family: "Fira Mono", monospace;
  font-size: 0.8rem;
}
h1 {
  margin-top: 0;
  padding-top: 0.8em;
}
.copy-button {
  position: absolute;
  right: 2px;
  top: -34px;
  grid-area: copyBtn;
}
.copy-success {
  position: absolute;
  right: 0;
  top: calc(-1 * 100% - 10px);
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  width: max-content;
  padding: 5px;
}
#path-string-label {
  grid-area: label1;
}
#bezier-object-label {
  grid-area: label2;
  align-self: end;
}
#path-string {
  grid-area: textarea1;
}
#bezier-object {
  grid-area: textarea2;
}
.explanation {
  font-weight: normal;
  font-size: 0.8rem;
}
.gitlab {
  fill: dodgerblue;
  opacity: 0.5;
  width: 30px;
  margin-top: 10px;
  margin-right: 2px;
  height: min-content;
}
.gitlab:hover,
.gitlab:focus {
  opacity: 1;
}
