@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:400,700');

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
code {
  font-family: 'Fira Mono', monospace;
}
button {
  font-size: 0.85rem;
  font-weight: bold;
  color: dodgerblue;
  border: 2px solid dodgerblue;
  background-color: white;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  outline: 0;
}
button:hover {
  background-color: #e8effc;
}
button:focus {
  box-shadow: 0 0 0 1.5px dodgerblue;
  border: 2px double dodgerblue;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}